################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/src/Infrastructure/bin
/src/Infrastructure/obj
/src/WebHost/bin
/src/WebHost/obj
/src/WebHost/DevModules/Module.ActivityLog/bin
/src/WebHost/DevModules/Module.ActivityLog/obj
/src/WebHost/DevModules/Module.Catalog/bin
/src/WebHost/DevModules/Module.Catalog/obj
/src/WebHost/DevModules/Module.Cms/bin
/src/WebHost/DevModules/Module.Cms/obj
/src/WebHost/DevModules/Module.Contacts/bin
/src/WebHost/DevModules/Module.Contacts/obj
/src/WebHost/DevModules/Module.Localization/bin
/src/WebHost/DevModules/Module.Localization/obj
/src/WebHost/DevModules/Module.News/bin
/src/WebHost/DevModules/Module.News/obj
/src/WebHost/DevModules/Module.Orders/bin
/src/WebHost/DevModules/Module.Orders/obj
/src/WebHost/DevModules/Module.ProductComparison/bin
/src/WebHost/DevModules/Module.ProductComparison/obj
/src/WebHost/DevModules/Module.Reviews/bin
/src/WebHost/DevModules/Module.Reviews/obj
/src/WebHost/DevModules/Module.SampleData/bin
/src/WebHost/DevModules/Module.SampleData/obj
/src/WebHost/DevModules/Module.Search/bin
/src/WebHost/DevModules/Module.Search/obj
/src/WebHost/DevModules/Module.Vendors/bin
/src/WebHost/DevModules/Module.Vendors/obj
/test/Infrastructure.Tests/bin
/test/Infrastructure.Tests/obj
/test/Module.Cms.Tests/bin
/test/Module.Cms.Tests/obj
/test/Module.Core.Tests/obj
/test/Module.Core.Tests/bin
/src/WebHost/node_modules
/src/WebHost/bower_components
